body{
    display: grid;
    font:15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
.container{
    display: grid;
   
}
#image{
grid-column: 2;
min-height: 400px;
}
header{
   display: grid;
 
    background: #35424a;
    color:#ffffff;
   
   
    border-bottom: #e8491d 3px solid;

}header a{
    color:#ffffff;
   text-decoration: none;
  
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin:0;
    padding:0;

}
header li{
    float: right;
  list-style: none;
  padding :0 20px 0 20px;
}
header #branding{
    float: left;
}
header nav{
    float: right;
    margin-top:10px;
}
#boxes{
    display: grid;
    margin-top: 20px;
}
#boxes .box{
    grid-area: 4;
    align-content: center;
    float:left;
    text-align: center;
    width:30%;
    padding:15px;
}
#boxes .box img{
    width:90px;
}
#boxes .box a{
    text-decoration: none;
}
#news{
    display: grid;
   width:50%;
   margin-left: 25%;
    min-height: fit-content;
    background-color:rgb(53, 54, 36);
    color:white;
}
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}
#comm{
    min-height: 400px;
    background:url('commerce.jpg')no-repeat center ;
}
#hiss{
    min-height: 400px;
    background:url('history.jpg')no-repeat center ;
}
#csss{
    min-height: 400px;
    background:url('cs.jpg')no-repeat center ;
}